<div class="row">
    <div class="col-sm-6">
        <table>
           <tr>
                <th>Id</th>
                <th>Name</th>
           </tr>
               
           
        </table>
    </div>
</div>